/* Empty. Add your own CSS if you like */
.add-button{
	position: absolute;
	bottom: 10px;
	z-index: 10;
	right: 10px;
}

.center{
	text-align: center;
	display: block;
}

.plus{
	color: green;
}

.minus{
	color: red;
}

.zero{
	color: #444;
}